[Unit]
Description=transforward module
After=syslog.target network.target

[Service]
Type=forking
ExecStart=/usr/sbin/transforward.init
# it appears this attribute is read-only
#ControlGroup=cpu:/

[Install]
WantedBy=multi-user.target
